/* Based upon https://www.sitepoint.com/make-a-simple-javascript-slideshow-without-jquery/ */


.slide {
    width:  0px;
    height: 0px;
    display: none;

/*     -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; */
}

.showing {
    width: 100%;
    height: 100%;
    display: block;
}

.slide-show-button {
  background: #da6969;
  color: #ead9d9;
  padding: 2px 0px;
  font-size: 40px;
  cursor: pointer;
  border: 2px solid navy;
  width: 50px;
  float: right;
}

.slide-show-button:hover,
.slide-show-button:focus{
  background: #e2c3c3;
  color: #a91515;
}

.slide-show-button:disabled {
  background:lightgray;
  color: gray;
  cursor: pointer;
}

iframe {
  width:  99%;
  height: 72%;
}

.before-iframe {
  height: 12%;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}

.no-iframe {
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  height:  100%;
}

.after-iframe {
  height: 6%;
  text-align: center;
}

body {
  background: navy;
  color: #e6eaf8;
  font-family: "Open Sans", Helvetica, sans-serif;
}

a {
  color: yellow;
}